{{!< default}}
<footer id="footer">
  <section class="colophon">

    <span class="fa-stack fa-lg">
      <i class="twitter fa fa-circle fa-stack-2x"></i>
      <a target="_blank" href="https://twitter.com/politidados" title="Twitter"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
    </span>

    <span class="fa-stack fa-lg">
      <i class="facebook fa fa-circle fa-stack-2x"></i>
      <a href="https://facebook.com/politidados" title="Facebook"><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
    </span>

    <section class="copyright">
      2016 © <span itemprop="copyrightHolder"><strong>{{@blog.title}}</strong></span>. <span rel="license">Todos os direitos reservados.</span>
    </section>
  </section>
</footer>
